header{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

body{
    font-family: sans-serif;
    margin: 0px;
}

.logo{
    display: flex;
}

.logo img{
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.menu ul{
   padding: 0px 130px 0px 130px; /*top right bottom left*/
   margin: 15px;
}

a{
    text-decoration: none;
    color:coral;
}

.menu li{
    list-style-type: none;
    font-weight: 600;
    display:inline-block;
    padding-right: 150px;
}

nav a:hover{
    color: darkblue;
}

.containerInicio{
    background-color: rgba(0,0,0,15);
    text-align: center;
}
.containerInicio h2{
    color: aliceblue;
}

audio{
    padding-top: 15px;
}

.carteleraEstrenos{
    background-color: rgba(0,0,0,15);
    text-align: center;
}
.carteleraEstrenos h2{
    color: aliceblue;
}

.carteleraTaquilleros{
    background-color: rgba(0,0,0,15);
    text-align: center;
}
.carteleraTaquilleros h2{
    color: aliceblue;
}

.carteleraClasicos{
    background-color: rgba(0,0,0,15);
    text-align: center;
}
.carteleraClasicos h2{
    color: aliceblue;
}

.carteleraSeries{
    background-color: rgba(0,0,0,15);
    text-align: center;
}
.carteleraSeries h2{
    color: aliceblue;
}
.piePagina{
    background-color: lightblue;
    margin: 1px;
}

div.nombres p{
    padding: 0px 100px 0px 100px;
}

.nombres{
    justify-content: center;
    display: flex;
}
